<div class="aftl-select">
	<h3 ng-if="::to.label"><label>
		{{to.label}} {{::to.required ? '*' : ''}}
	</label></h3>
	<lx-select ng-model="model[options.key]" lx-choices="to.choices" lx-label="{{::to.placeholder}}" min-length="::to.minLength"
		allow-clear="::to.allowClear" ng-attr-multiple="{{::to.multiple}}" style="float:left; width:90%;">

		<lx-select-selected>
			{{ $selected}}
		</lx-select-selected>

		<lx-select-choices>
			<div class="block imagePicker">
				<img src="{{$choice | imgSrc}}" height="50" class="selectimg" err-src="img/placeholder_face.svg"
				/>
				<h5>{{ $choice }}</h5>
			</div>
		</lx-select-choices>

	</lx-select>
	<img style="float:right; width:10%; margin-bottom:40px; margin-top:14px;" ng-src="{{$choice | imgSrc}}"
		width="50" height="50" class="img" err-src="img/placeholder_face.svg">
</div>